* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    scroll-behavior: smooth;
    /* font-family: 'Special Elite', cursive; */
}

body {
    background-color: #f3f3f1;
}

/* top-btn  */
.top-btn {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.top-btn::before {}

/* nav  */
#navbar::before {
    content: "";
    background-color: rgb(2 0 2 / 30%);
    position: absolute;
    height: 93px;
    width: 100%;
    z-index: -1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

.nav {
    display: flex;

    /* border: 2px solid red; */
}

.logo {
    margin: 12px 35px 12px 60px;
    /* border: 2px solid red; */
}

.logo img {
    height: 67px;
    border-radius: 50%;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* padding: 0; */
}

.nav-list li {
    /* border: 2px solid green; */
    height: auto;
    margin: 0px 15px;
}

.nav-list li a {
    text-decoration: none;
    padding: 3px 22px;
    display: block;
    cursor: pointer;
    color: white;
    /* border: 2px solid red; */
    font-size: 20px;
}

.nav-list li a:hover {
    color: black;
}

/* section---home  */

#home {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(../images/banner.jpg) no-repeat center center/cover;
}

/* #home::before{
    content: "";
    background: url(../images/banner.jpg) no-repeat center center/cover;
    position: absolute;
    height: 702px;
    width: 100%;
    z-index: -1;
} */

.home {
    margin-bottom: 40px;
    max-width: 1200px;
}

.home h1 {
    margin-top: 65px;
    font-size: 45px;
    color: white;
}

.home .para-1,
.para-2 {
    margin-top: 30px;
    font-size: 15px;
    padding: 0px 300px 0px 0px;
    color: white;

}

.home .para-1 {
    margin-top: 50px;
}

.btn {
    font-size: 18px;
    border-radius: 20px;
    padding: 8px 14px;
    border: 2px solid white;
    font-family: 'Arvo', serif;
    background: -webkit-linear-gradient(#fff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin-top: 50px;
}


/* about  */

.about {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 50px 0px;
}
.about-content{
    width: 50%;
}
.about-image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    display: block;
    width: 100%;
}

.about-head {
    font-size: 45px;
    color: #161212;
}

.about-para {
    font-size: 18px;
    color: #727272;
    margin-top: 20px;
}.about-image img {
    height: 380px;
}
/* Section Services  */

#services-container {
    padding-top: 35px;
    margin: auto;
}

.services {
    margin: auto;
    max-width: 1200px;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-head {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 0;
    color: #727272;
}

.service-box {
    width: 24%;
    display: flex;
    flex-direction: column;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(198 183 166) 0%, rgb(4 66 65 / 77%) 100%);
    border-radius: 20px;
    align-items: center;
    padding: 20px 20px;
}

.service-box:hover {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(66 30 172) 0%, rgb(152 24 209 / 77%) 100%);
    box-shadow: 5px 5px 16px rgb(146 26 200 / 77%);
}

/* .service-box:hover{
    transform: skew(5deg);
} */

.service-box img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    animation-name: image;
    animation-duration: 1.5s;
}

@keyframes image {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.service-box .box-head {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.service-box .box-para {
    text-align: justify;
    margin-top: 10px;
    color: white;
}

.service-box .box {
    color: black;
}

.service-btn {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 14px;
    border: 2px solid white;
    font-family: 'Arvo', serif;
    background: -webkit-linear-gradient(#fff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.service-btn:hover {
    background-color: cyan;
}

/* team  */

.team-head {
    font-size: 45px;
    color: #727272;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
}

.team-box {
    /* border: 2px solid red; */
    background-color: #000000db;
    padding: 40px 40px 30px 40px;
    border-radius: 25px;
}

.team-box img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.border_1 {
    border: 2px solid #a9adb2;
}

.border_2 {
    border: 2px solid #d3c54a;
}

.border_3 {
    border: 2px solid #a9adb2;
}

.team-box .team-name {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.team-box .team-pro {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

/* contact  */

#contact {
    background: #000000;
    background: linear-gradient(to right, #434343, #000000);

}

.svg {
    width: 100px;
    height: 100px;
}

.contact {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    /* position: relative; */
    align-items: center;
}

#contact_1 {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0px;
    margin-right: -130px;
    z-index: 2;
    margin: 50px -130px 50px 0px;
    align-items: center;
    row-gap: 26px;
}

#contact_2 {
    width: 65%;
    background: #093028;
    background: linear-gradient(to right, #093028, #237A57);
    margin: 60px;
    border-radius: 35px;
}

.contact-setup {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    justify-content: center;
}

.contact_row {}

.contact_us {
    font-size: 45px;
    color: white;
    text-align: center;
}

.child_row {
    width: 47%;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 35px 0px 35px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input1 {
    margin-top: 40px;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
}

.input2 {
    margin-top: 30px;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
}

.textarea {
    margin-top: 30px;
}

.submit_btn_div {
    display: flex;
    justify-content: center;
}

.submit_btn {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    color: #093028;
}

.submit_btn:hover {
    color: white;
    background: #000000;
    background: linear-gradient(to right, #434343, #000000);
    border: none;
}

.c_head {
    margin-top: 20px;
    color: #093028;
}

.input1:focus-visible {
    outline: 2px solid green;
}

.input2:focus-visible {
    outline: 2px solid green;
}

.textarea:focus-visible {
    outline: 2px solid green;
}

.c_para {
    font-size: 13px;
    color: #434343;
}

/* .copyright {
    color: white;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
} */

/* footer  */
#footer {
    background-color: #0d0d0d;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 60px 0px;
}

.footer-box {
    width: 24%;
}

.footer-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 10px;
}

.footer-list {
    list-style: none;
    border-radius: 10px;
    display: flex;
    padding: 4px 15px;
    border: 1px solid #b3b3b3;
}

.footer-list a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #b3b3b3;
}

.col-list {
    list-style: none;
}

.col-list a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #b3b3b3;
    padding-left: 10px;
}

.col-list li {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
}

.footer-head {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Abel', sans-serif;
    color: white;
}

.footer-head-2 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Abel', sans-serif;
    color: white;
}

.footer-para {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    color: #b3b3b3;
}

.footer-para-2 {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin-top: 2px;
    color: #b3b3b3;
}

.date-para {
    font-family: 'Abel', sans-serif;
    font-size: 11px;
    color: #b3b3b3;
}

.blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.blog-para {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 5px;
    color: #b3b3b3;
}

.blog1 img {
    height: 62px;
}

.content-para {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b3b3b3;
}

.blog2 {
    padding-left: 13px;
}

#footer4 {
    padding-left: 35px;
}


.footer-copyright h4 {
    text-align: center;
    padding: 30px 0px;
    color: #b3b3b3;
}

#footer2{
    padding-left: 15px;
}

#footer3{
    padding-left: 25px;
}